{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.label.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.label.settings'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooparticlescalendar/scripts/select2-3.4.1/select2.css') }} "/>
<link rel="stylesheet" href="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscooparticlescalendar/css/codemirror.css">
<style>
.CodeMirror {background: none;margin: 2px; width: 840px; height: 644px;border: 1px solid #C0C0C0;}
#settingsTable {float: left; margin-top: 0px; margin-right: 25px;}
.input_select, .input_text {width: 250px;}
.input_select_earliest_month {width: 120px;float: left;margin-right: 8px;}
.input_select_earliest_year {width: 120px;}
.article-of-the-day-last {float: right;font-size: 10px;margin-right: 5px;line-height: 20px;}
.article-of-the-day-bg {background-color: #ECECEC;}
.article-of-the-day-border {border-right: 1px solid #9d9d9d;}
</style>
{% endblock %}
{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooparticlescalendar/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscooparticlescalendar/js/codemirror.js"></script>
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscooparticlescalendar/js/css.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#settingsform_publicationNumbers').select2({ placeholder: "{{ 'plugin.label.choose'|trans }}"});
     $('#settingsform_rendition').select2();
    $('#save').live('click', function(e){
        e.preventDefault();
        var format = new Date();
        var d = format.getDate();
        var m =  format.getMonth()+1;
        var h = format.getHours();
        var min = format.getMinutes();
        var s = format.getSeconds();
        var y = format.getFullYear();
        var time = y + "-" + (m <= 9 ? "0" + m : m)+ "-" + (d <= 9 ? "0" + d : d) + " " + (h <= 9 ? "0" + h : h) + ":" + (min <= 9 ? "0" + min : min) + ":" + (s <= 9 ? "0" + s : s);
        $.ajax({
            type: "POST",
            url: "{{ path('newscoop_articlescalendar_admin_savecss') }}",
            data: {'styles': editor.getValue(), 'lastModified': time},
            dataType: "json",
            success: function(msg){
                if (msg.status) {
                    flashMessage('{{ 'plugin.msg.saved'|trans }}');
                    $('#time').empty();
                    $('#time').append(time);
                } else {
                    flashMessage('{{ 'plugin.msg.error'|trans }}', 'error');
                }
            }
        });
    })
});
</script>
{% endblock %}

{% block admin_content %}
<form action="{{ path('newscoop_articlescalendar_admin_admin') }}" method="post" {{ form_enctype(form) }} >
    {% if not form.vars.valid %}
        <div class="alerts alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <table id="settingsTable" border="0" cellspacing="0" cellpadding="0" class="box_table">
        <tbody>
            <tr>
                <td class="article-of-the-day-border"></td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">   
                    {{ form_label(form.firstDay) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_widget(form.firstDay, {'attr' : {'class' : 'form-control input-sm'}}) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">   
                    {{ form_label(form.earliestMonth) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_widget(form.earliestMonth.day, {'attr' : {'style' : 'display:none'}}) }}
                    {{ form_widget(form.earliestMonth.month, {'attr' : {'class' : 'form-control input-sm input_select_earliest_month'}}) }} 
                    {{ form_widget(form.earliestMonth.year, {'attr' : {'class' : 'form-control input-sm input_select_earliest_year'}}) }}
                </td>
            </tr>
             <tr>
                <td class="article-of-the-day-border">   
                    {{ form_label(form.latestMonth) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_widget(form.latestMonth.day, {'attr' : {'style' : 'display:none'}}) }}
                    {{ form_widget(form.latestMonth.month, {'attr' : {'class' : 'form-control input-sm input_select_earliest_month'}}) }} 
                    {{ form_widget(form.latestMonth.year, {'attr' : {'class' : 'form-control input-sm input_select_earliest_year'}}) }}
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border" style="width: 50px;">   
                    {{ form_label(form.currentMonth) }}
                    <small>({{ 'plugin.label.currentmsg'|trans }})</small>
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border" valign="top">
                    {{ form_widget(form.currentMonth) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border" valign="top">
                    {{ form_label(form.rendition) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border" valign="top">
                    {{ form_widget(form.rendition , {'attr' : {'style' : 'width:250px'}}) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border" valign="top">
                    {{ form_label(form.publicationNumbers) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border" valign="top">
                    {{ form_widget(form.publicationNumbers , {'attr' : {'style' : 'width:250px'}}) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_label(form.showDayNames) }} 
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_widget(form.showDayNames, {'attr' : {'class' : 'input_check'}}) }}
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border">
                    {{ form_label(form.navigation) }}    
                </td>
            </tr>
            <tr>
                <td class="article-of-the-day-border" valign="top">
                    {{ form_widget(form.navigation, {'attr' : {'class' : 'input_check'}}) }}
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border">
                    <strong>{{ 'plugin.label.optional'|trans }}</strong>    
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border">
                    {{ form_label(form.imageWidth) }}    
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border" valign="top">
                    {{ form_widget(form.imageWidth, {'attr' : {'class' : 'form-control input-sm'}}) }}
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border">
                    {{ form_label(form.imageHeight) }}    
                </td>
            </tr>
            <tr class="article-of-the-day-bg">
                <td class="article-of-the-day-border">
                    {{ form_widget(form.imageHeight, {'attr' : {'class' : 'form-control input-sm'}}) }}
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr></td>
            </tr>
            <tr>
                <td colspan="2" align="right" style="padding-top: 10px;">
                    <button type="submit" class="btn btn-primary">{{ 'plugin.btn.save'|trans }}</button>
                </td>
            </tr>
            {{ form_rest(form) }}
        </tbody>
    </table>
</form>
<table border="0" cellspacing="0" cellpadding="0" class="box_table">
    <tbody>
        <tr>
            <td class="article-of-the-day-border">
                <div class="actions"><strong>{{ 'plugin.label.css'|trans }}</strong><span class="label label-primary article-of-the-day-last">{{ 'plugin.label.modified'|trans }} <span id="time">{{ lastModified|date("Y-m-d H:i:s")}}</span></span></div>
            </td>
        </tr>
        <tr>
            <td class="article-of-the-day-border">
                <textarea id="textarea" name="textarea">{{ styles }}</textarea>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("textarea"), {
                        lineNumbers: true,
                        matchBrackets: true,
                        mode: "text/css"
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right" style="padding-top: 10px;">
                <button type="submit" id="save" class="btn btn-primary">{{ 'plugin.btn.save'|trans }}</button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}