<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscooparticlescalendar/js/jquery.articlescalendar.js"></script>
<link rel="stylesheet" href="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscooparticlescalendar/css/articles_calendar.css">
<style>
{% if image_width or image_height %}
.calendar-list li {width: {{ image_width }}px; height: {{ image_height }}px;}
{% endif %}
{{ styles }}
</style>
<div id="wobs_calendar_{{ randomInt }}" class="thumb-calendar"></div>

<script>
function formatDate(date)
{
    var s = '';
    var yyyy, mm, dd;

    yyyy = date.getFullYear();
    mm = date.getMonth()+1;
    mm = mm.toString();
    dd = date.getDate();
    dd = dd.toString();

    if (mm.length === 1) {
        mm = "0"+mm;
    }
    if (dd.length === 1) {
        dd = "0"+dd;
    }

    s = yyyy + "-" + mm + "-" + dd;
    return s;
}

function getArticlesOfTheDay( start, end, callback )
{
    var search_start, search_end;

    search_start = formatDate(start);
    search_end = formatDate(end);

    $.ajax({
      url: "{{ Newscoop['WEBSITE_URL'] }}/plugin/articlescalendar/articlesoftheday/get",
      type: "GET",
      data: {"format": "json", "start": search_start, "end": search_end, "image_width": {{ image_width }}, "image_height":{{image_height }}, "publication_numbers": {{ publication_numbers }} },
      dataType: "json"
    }).done(function(data) {
      callback(data.articles);
    });
}

$("#wobs_calendar_{{ randomInt }}").wobscalendar({
    'today': new Date('{{today[0] }}', '{{ today[1]-1 }}', '{{ today[2] }}'),
    'date': new Date('{{ year }}', '{{ month }}'),
    'articles': getArticlesOfTheDay,
    'defaultView': '{{ defaultView }}',
    'firstDay': {{ firstDay }},
    'navigation': {% if nav %} true {% else %} false {% endif %},
    'showDayNames': {% if dayNames %} true {% else %} false {% endif %},
    'earliestMonth': {% if earliestMonth %} new Date('{{ earliestMonth[0] }}', '{{ earliestMonth[1]-1 }}') {% else %} undefined {% endif %},
    'latestMonth': {% if latestMonth %} new Date('{{ latestMonth[0] }}', '{{ latestMonth[1]-1 }}') {% else %} undefined {% endif %},
    'monthNames': [
        {% for month in months %}
            '{{ month }}',
        {% endfor %}
    ],
    'dayNames': [
        {% for day in days %}
            '{{ day }}',
        {% endfor %}
    ],
    'title': "{{ 'plugin.label.calendar.title'|trans }}",
    'buttons': {
        'prev': "{{ 'plugin.btn.prev'|trans }}",
        'next': "{{ 'plugin.btn.next'|trans }}"
    }
});
</script>